/*estilos pantalla 1*/
.carousel{
  height: 500px !important;

}
.carousel .carousel-item{
  padding-top: 15%;
  padding-bottom: 15%;
}
.carousel .carousel-item>img{
  width: 80% !important;

}
.btn, .btn-large{
  background-color: #fbd43b;
}
#btn-registro{
  width: 100%;
}
/*estilos pantalla 2*/
.phone-icon{
  display: block;
  margin: 0 auto;
  width: 50% !important;
  height: 50% !important;
  padding-top: 5%;
  padding-bottom: 3%;
}
#continuar{
  margin-top: 10%;
}
/*estilos pantalla 3*/
.mini-icon{
  width: 6%;
  height: 6%;
}
/*estilos pantalla 4*/
.input-field label {
  text-align: center;
}
/*estilos pantalla 5*/
.check{
  padding-top: 50%;
}
.yape{
  margin-bottom: 70%;
}
#pantalla5{
  height: 100%;
  background-color: #fbd43b;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
