<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="static/materialize-css/dist/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>Y A P E</title>
</head>
<body>
  <img src="" alt="">
  <h3>Para comenzar validemos tu número</h3>
  <p>Resivirás un SMS con un código de validadción</p>

  <div class="input-field col s6">
    <i class="material-icons prefix">stay_current_portrait</i>
    <input id="icon_prefix" type="text" class="validate">
    <label for="icon_prefix">First Name</label>
  </div>
  <form action="#">
    <p>
      <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
      <label for="filled-in-box">Acepto los <a href="#">Terminos y condiciones</a></label>
    </p>
  </form>
</body>
</html>
